.about-card {
    /* border: none;
    margin-bottom: 20px; */
    height: 100%;
    background-color: #F4F7FA;
    border-radius: 16px;
    border: 1px solid #E1E8F3;
}
.about-card p {
    color:#53526F;
    font-size: 16px;
}
.about-card h4 {
    font-weight: 600;
    padding-bottom: 10px;
}
.about-us-section {
    padding: 40px 0px 20px 0px;
}
.about-us-card {
    align-items: center;
 }
@media (max-width: 768px) {
    .about-us-section .about-img {
        text-align: -webkit-center;
    }
}

/*  Counter Section  */
.counter-section {
    background-color:#E9F8FF;
    padding: 50px 0px;
    margin-bottom: 50px;
}
.counter
{
    text-align: center;
}
/* .employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
} */
.counter-count
{
    border-radius: 50%;
    position: relative;
    color: #002133;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    padding-right: 5px;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
.employee-pp {
   color: #6F6C90;
}
.counter img {
    vertical-align: sub;
}
.about-us-content p {
    font-size: 18px;
    color: #525E6F;
    font-weight: 400;
    line-height: 28px;
}
.about-content p {
    font-size: 18px;
    line-height: 28px;
}
.about-content-container {
    margin-right: 40px;
}