.siteMapUrl__list h4 {
    color: #ffffff;
    background-color: #337AB7;
    width: 200px;
    padding: 10px 16px 10px 16px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }

  .sitemap__title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 12px 48px 12px 48px;
    background-color: #F8F8FA;
    width: 150px;
    margin: auto;
    border: 1.93px solid #CBD4E1;
    border-radius: 64px;
    text-decoration: none;
    margin-top: 2%;
  }

  .tree-structure {
    list-style: none;
    clear: both;
    padding-left: 15px
  }

  .tree-structure li {
    position: relative
  }

  .tree-structure li a {
    font-weight: 400;
    text-decoration: none;
    font-weight: 700;
    vertical-align: middle;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: calc(100% - 50px);
    vertical-align: top
  }

  .tree-structure li a:hover {
    padding-left: 5px
  }

  .tree-structure>li>.num {
    display: table-cell;
    background: #333;
    min-width: 24px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding: 3px 9px;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    z-index: 233;
  }

  .tree-structure>li>.num:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #939393;
    top: 5px;
    left: 12px;
    z-index: -1;
  }

  .tree-structure>li:last-child>.num:after {
    height: calc(100% - 44px)
  }

  .tree-structure ol {
    padding: 20px 0 20px 45px
  }

  .tree-structure ol li {
    list-style-type: none;
    padding: 8px 0
  }

  .tree-structure ol li .num {
    position: relative
  }

  .tree-structure ol li a {
    color: #27313F;
    font-weight: 500;
    
  }

  .tree-structure ol li a:hover {
    color: #2878c8
  }

  .tree-structure .num {
    background-color: #666;
    min-width: 24px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding: 3px 9px;
    margin-right: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle
  }

  .tree-structure ol li .num:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    margin: auto;
    width: 33px;
    height: 1px;
    background-color: #939393
  }

  .tree-structure ol li ul {
    margin: 12px 0 0 17px;
  }

  .tree-structure ol li ul li::before {
    content: "";
    /* display: inline-block; */
    width: 3rem;
    height: 100%;
    border-left: 1px #939393 solid;
    position: absolute;
    top: -0.75rem;
  }

  .tree-structure ol li ul li::before {
    content: "";
    /* display: inline-block; */
    width: 3rem;
    height: 2rem;
    border-bottom: 1px #939393 solid;
    position: absolute;
    top: -0.75rem;
  }

  .tree-structure ol li ul li a {
    margin-left: 3.75rem;
    width: 100%;
    box-sizing: border-box;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .sitemap>li>ul {
    margin-top: 1.5rem;
  }

  .banner-text-info a {
    display: inline-block;
    min-width: 220px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    padding: 0 20px;
    color: #2879c9 !important;
    border: 2px solid #2879c9;
    line-height: 48px;
    background: 0 0;
    transition: all .3s ease-in-out 0s;
    margin-top: 20px;
    border-radius: 5px;
  }

  .banner-text-info a:hover {
    background: #2879c9;
    cursor: pointer;
    color: #fff !important;
  }

  .development-discription p {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #fff;
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #fff;
  }

  .tree-structure>li>.num {
    background:  #ECEFF4;
    border: 1px solid #337AB7;
    color:#337AB7 ;
  }
  .tree-structure .num {
    background:  #ECEFF4;
    border: 1px solid #337AB7;
    color:#337AB7 ;
  } 

  .site-map-section h2 {
    font-weight: 600;
    color: #27313F;
  }

  .site-map-section p {
    font-size: 18px;
    color: #728197;
  }
.siteMap {
  margin: 20px 0px;
}

